/* -- ROOT Y GENERALES -- */
@import "globales";
@import "extend";
@import "mixins";

.img {
    width: 40%;
}
.imgicon {
    width: 4%;
}

/* -- VARS -- */
$primary-color: #f72585;
.parrafofuccia {
    color: $primary-color;
    font-family: cursive;
    padding: 10px 40px;
    text-align: center;
}
.tituloprincipal {
    color: $primary-color;
    padding: 15px;
    height: 10%;
    text-align: center;
    font-size: 25px;
}

/* -- HEADER NAV -- */
.nav {
    background-color: #f72585;
    width: 100%;
    padding: 10px;
    li a {
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 12px;
    }
    }

/* -- MAIN -- */
figure {
    width: 100%;
}
.figure img {
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 18px;
    img {
        width: 100%;
        border-radius: solid 15px;
    }
}

.sect-pantalones {
    width: 100%;
    padding: 100px;
    height: -5px;
}

/* -- TIENDA -- */
.tienda-btn {
    width: 10%;
    height: 50px;
    background: #ff871f;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    &::before {
        content: "COMPRAR";
        color: black;
        font-family: cursive;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 3s ease-in-out;
    }
    &:hover::before {
        top: -30px;
        btn::after {
            font-family: cursive;
            font-size: 40px;
            color: black;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }   
}

/* -- OPERADORES -- */
$ancho: 720px;
$pink: #f72585;
$orange: #ff871f;

.box_uno {
    background-color: $pink;
  width: $ancho/2;
}
.box_dos {
    background-color: $orange;
    width: ($ancho/2) -50;
}
.box_tres {
    background-color: $pink;
    width: ($ancho/2) +50;
}


/* -- FOOTER -- */
@import "footer";
